body {
	background-size: 100%;
}

#poster {
	width: 30%;
	float: left;
}

#imagePoster {
	margin: 10%;
	height: auto;
	width:80%;
	box-shadow: 10px 10px 10px #000000;
}

#movie_info {
	margin-top: 10%;
	width: 40%;
	height: 100%;
	float: left;
	
}
p {
	margin: 3%;
}

.textSection {
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 20px;
}
#twitter_stream {
	margin-top: 3%;
	margin-right: 3%;
	width: 25%;
	height: 100%;
	float: right;

}