body {
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

#poster {
	width: 30%;
	float: left;
}

#imagePoster {
	margin: 10%;
	height: auto;
	width:80%;
	box-shadow: 10px 10px 10px #000000;
}

#movie_info {
	padding: 0.2px;
	margin-top: 1%;
	width: 34.4%;
	height: 100%;
	margin-left:auto;
    margin-right: auto;
}

#vote_average {
	float: right;
	padding: 5px;
	border-radius: 10px;
	background-color: #CC9900;
	box-shadow: 
	inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
    border: 0px;
    font-size:34px;
}

#vote_average_t {
	margin-left: auto;
    margin-right: auto;
	font-size:10px;
}

#twitter_stream {
	margin-top: -20.5%;
	margin-right: 3%;
	width: 25%;
	height: 100%;
	float: right;

}

#search_term {
	padding: 5px;
	margin-left: 2%;
	margin-bottom: 2%;
	margin-top: 2%;
	border-radius: 10px;
	background-color: #c0deed;
	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    border: 0px;
    font-size:34px;
    color: #334466;

}

button {
	padding:5px;
	background-color: #c0deed;
	border-radius: 10px;
	color:#334466;
	text-decoration:none;
	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    font-size:32px;
}

#search {
	border-radius:20px;
	opacity: 0.8;
	background-color: #ffffff;
	width: 34.4%;
	margin-left:auto;
    margin-right: auto;
} 

#tagline {
	font-style: italic;
}
.tweet {
	margin: 10px;
	border-radius: 5px;
	background-color: #c0deed;
}

form {
    margin-left:auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    }

h3 {
	margin: 3%;
}

p {
	margin-left: 3%;
	margin-right: 3%;
}

.textSection {
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 20px;
}

.diagram {
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 20px;
}

#diagram1 {
	margin-top: 1%;
	width: 34.4%;
	height: 100%;
	margin-left:auto;
    margin-right: auto;
}

#diagram2 {
	margin-top: 1%;
	margin-bottom: 3%;
	width: 34.4%;
	height: 100%;
	margin-left:auto;
    margin-right: auto;
}

#diagram3 {
	margin-top: 4.8%;
	margin-left: 1%;
    margin-right: 1%;
	width: 30%;
	height: 100%;
	float: left;
}

#chart1 {
	float: left;
}

#chart2 {
	margin-left: auto;
    margin-right: auto;
}

#chart3 {
	float: right;
}

#chart4 {
	margin-left: auto;
    margin-right: auto;
}

#chart5 {
	float: left;
}

#chart6 {
	float: left;
}

