body {
	background-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	width: 95%;
}

#search {
	margin-top: 3%;
	margin-bottom: 3%;
	border-radius:10px;
	opacity: 0.8;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	float: center;
	padding:1% 1%;
} 

#search_term {
	width: 65%;
	display:inline-block;
	border-radius: 5px;
	margin: 1%;
	background-color: #c0deed;
	box-shadow: 
		inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    border: 0px;
    font-size:19px;
    color: #334466;
}

.searchBtn {
	margin: 0.5%;
	background-color: #c0deed;
	border-radius: 10px;
	color:#334466;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:0.5% 1%;
	text-decoration:none;
	box-shadow: 
	inset 0 0 8px  rgba(0,0,0,0.1),
    		0 0 16px rgba(0,0,0,0.1);
}
.searchBtn:hover {
	opacity: 0.5;
}

#poster {
	width: 100%;
	float: left;
	margin-bottom: 3%;
}

#imagePoster {
	height: auto;
	width:100%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 2%;
}

.textSection {
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 10px;
}

#local_refs {
	margin-top: 4%;
	text-align: center;
	vertical-align: middle
}

#movie_info {
	padding: 1% 4%;
	width: 100%;
	height: 100%;
	margin-bottom: 3%;
}

#tagline {
	font-style: italic;
}

.diagram {
	opacity: 0.8;
	background-color: #ffffff;
	border-radius: 20px;
}

#diagram1 {
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 3%;
}

#chart1 {
	float: left;
	display: inline-block;
	height: auto;
	width:100%;
}

#chart2 {
	float: center;
	display: inline-block;
	height: auto;
	width:100%;
}

#chart3 {
	padding-top: 10%;
	float: right;
	display: inline-block;
	height: 100%;
	width:100%;
}

#twitter_stream {
	width: 100%;
	height: 100%;
	float: right;
}

.tweet {
	margin: 10px;
	border-radius: 5px;
	background-color: #c0deed;
}

/*statistics.html*/

#diagram2 {
	margin-bottom: 4%;
	margin-left: 0%;
	margin-right: 0%;
}

#chart4 {
	float: center;
	display: inline-block;
	height: 100%;
	width:100%;
}

.thumbnail {
	height: auto;
	width: 10%;
}

#thumbnails {
	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 1%;
	width: 10%;
	height: 10%;
}

#imagePoster1 {
	margin: 10%;
	float: center;
	height: auto;
	width:70%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 10px;
	border: 5px outset black;
}

#imagePoster1:hover ~ #rem1 {
    visibility: visible;
}

#imagePoster2 {
	margin: 10%;
	float: center;
	height: auto;
	width:70%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 10px;
}

#imagePoster2:hover {
	border: 5px inset black;
}

#imagePoster3 {
	margin: 10%;
	height: auto;
	width:80%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 10px;
}

#imagePoster3:hover {
	border: 5px inset black;
}

#imagePoster4 {
	margin: 10%;
	height: auto;
	width:80%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 10px;
}

#imagePoster4:hover {
	border: 5px inset black;
}

#imagePoster5 {
	margin: 10%;
	height: auto;
	width:80%;
	box-shadow: 10px 10px 10px #000000;
	border-radius: 10px;
}

#imagePoster5:hover {
	border: 5px inset black;
}

#thumbnails {
	position: relative;
}

#rem1 {
    position: absolute;
    top: 7%;
    right: 15%;
	float: right;
visibility: hidden;
}

#rem1:hover {
    visibility: visible;
}

.close_b {
	height: auto;
	width:30%;
	float: right

}